{erl_opts, [debug_info,
            fail_on_warning
            % {parse_transform, lager_transform},
            % {lager_truncation_size, 40960}
           ]}.



{relx, [{release, {crawler, "0.0.1"}, [crawler]},
        %{sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{deps, [
        {recon, {git, "https://github.com/ferd/recon.git", { branch, "master"}}},
        {ibrowse, {git, "https://github.com/cmullaparthi/ibrowse.git", { branch, "master" }}}
       ]}.
